<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/printcraft.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 3D PRINTING GALLERY </h3>
    <ul>
      <li>  </li>
    </ul>
    <p></p>
    <a class="project-link" href="https://www.instagram.com/3dprintcraft">Check it out</a>
  </div>
</div>

<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='0'> 
<meta http-equiv='pragma' content='no-cache'>
